html, body {
  height: 100%; }

body {
  font-family: "Lato";
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #B0BEC5;
  display: table;
  font-weight: 100;
  background-image: linear-gradient(40deg, #101010 0%, #333333 100%); }

a {
  text-decoration: none;
  color: #aaa; }

a:hover {
  color: #fff; }

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle; }

.content {
  text-align: center;
  display: inline-block; }

.title {
  font-weight: 300;
  font-size: 72px;
  margin-bottom: 40px; }

.subtitle {
  font-size: 36px;
  margin-bottom: 40px; }
