---
title: Malav Desai | Full Stack Web Developer
---

<div class="container">
  <div class="content">
    <div class="title">Malav Desai</div>
    <div class="subtitle">Full Stack Web Developer</div>
    <p><em>Mumbai - India</em></p>
    <p>
      hi@malavdesai.com
    </p>
    <p>
      <a href="https://github.com/malav1410" target="_blank">
        <i class="fa fa-2x fa-fw fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/desaimalav/" target="_blank">
        <i class="fa fa-2x fa-fw fa-linkedin"></i>
      </a>
    </p>
  </div>
</div>
